@model FactViewModel

    <!DOCTYPE HTML>
    <html lang="en">
    <head>
        <title>Space Facts</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="~/css/main.css" />
        <noscript><link rel="stylesheet" href="~/css/noscript.css"/></noscript>
    </head>

    <body class="is-preload">    

        <!-- Wrapper -->
        <div id="wrapper" class="fade-in">           
      
            <!-- Intro -->
            <div id="intro">
                <!-- <img src="~/assets/armchair_astronaut_wh.png" width="80" height="160" alt=""> -->
                <h1>Today's Space Fact:</h1>
                <h2>@Model.fact</h2>
                <p><em>Refresh the page to see another!</em></p>
            </div>


        <!-- Scripts -->
                <script src="~/js/jquery.min.js"></script>
                <script src="~/js/jquery.scrollex.min.js"></script>
                <script src="~/js/jquery.scrolly.min.js"></script>
                <script src="~/js/browser.min.js"></script>
                <script src="~/js/breakpoints.min.js"></script>
                <script src="~/js/util.js"></script>
                <script src="~/js/main.js"></script>
</body>
</html>
