<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Explore</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <a href="index.cshtml" class="logo">Home</a>
        </header>

        <!-- Nav -->
        <nav id="nav">
            <ul class="links">
                <li><a href="index.cshtml">Home</a></li>
                <li class="active"><a href="explore.cshtml">Explore</a></li>
                <li><a href="test.cshtml">Test</a></li>
                <li><a href="phenomena.cshtml">Phenomena</a></li>
                <li><a href="missioncontrol.cshtml">Mission Control</a></li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">

            <!-- Post -->
            <section class="post">
                <header class="major">
                    <h1>Let's Explore<br /></h1>
                    <p>
                        "Look up at the stars and not down at your feet. Try to make sense of what you<br />
                        see, and wonder about what makes the universe exist. Be curious."<br />
                        - Stephen Hawking
                    </p>
                </header>
                <ul class="actions special">
                    <li><a href="#" class="button large">Space Facts</a></li>
                    <li><a href="#" class="button large">NEO Locator</a></li> 
                    <li><a href="#" class="button large">Mars Data</a></li>
                </ul>
                <div class="image main">
                    <img src="~/assets/hubble.png" alt="hubble image of M81 spiral galaxy" />
                    <span class="date"><em>Photo credit: NASA</em></span>
                </div>
            </section>
        </div>
        <!-- Copyright -->
        <div id="copyright">
            <ul><li>&copy; 2021 SolvCreative LLC</li></ul>
        </div>

    </div>

    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.scrollex.min.js"></script>
    <script src="~/js/jquery.scrolly.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>
