<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Mission Control</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <a href="index.cshtml" class="logo">Home</a>
        </header>

        <!-- Nav -->
        <nav id="nav">
            <ul class="links">
                <li><a href="index.cshtml">Home</a></li>
                <li><a href="explore.cshtml">Explore</a></li>
                <li><a href="test.cshtml">Test</a></li>
                <li><a href="phenomena.cshtml">Phenomena</a></li>
                <li class="active"><a href="missioncontrol.cshtml">Mission Control</a></li>
            </ul>
            <ul class="icons">
                <li><a href="https://www.instagram.com/nasa/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://github.com/SolvCreative/Armchair_Astronaut" target="_blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">

            <!-- Post -->
            <section class="post">
                <header class="major">
                    <h1>Mission Control</h1>
                    <p>Below are some of the sources fueling our Armchair Astronaut experience:</p>
                </header>

                <!-- Table 1 - Global Space Programs -->
                <h3>Global Space Programs</h3>
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Description</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    The National Aeronautics and Space Administration (NASA) is America’s civil<br />
                                    space program and the global leader in space exploration.
                                </td>
                                <td><strong><a href="https://www.nasa.gov/" target="_blank">NASA</a></strong></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>The European Space Agency (ESA) is Europe’s gateway to space. Its mission is to shape the development of Europe’s space capability and ensure that investment in space continues to deliver benefits to the citizens of Europe and the world.</td>
                                <td><strong><a href="https://www.esa.int/" target="_blank">ESA</a></strong></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>The Japan Aerospace Exploration Agency (JAXA) is positioned as the core executing agency that supports the space development and utilization of the entire government with technology.</td>
                                <td><strong><a href="https://global.jaxa.jp/" target="_blank">JAXA</a></strong></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>ROSCOSMOS ensures the implementation of the Russian government’s space program.</td>
                                <td><strong><a href="http://en.roscosmos.ru/" target="_blank">ROSCOSMOS</a></strong></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>China National Space Administration (CNSA) is the governmental organization of People's Republic of China responsible for the management of space activities.</td>
                                <td><strong><a href="http://www.cnsa.gov.cn/english/index.html" target="_blank">CSNA</a></strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <!-- Table 2 - Fringe & Alternative Theories -->
                <h3>Fringe & Alternative Theories</h3>
                <div class="table-wrapper">
                    <table class="alt">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Description</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>The Search for Extraterrestrial Intelligence (SETI) is a team of scientists, all unified by their relevance to the search for, and understanding of, life beyond Earth.</td>
                                <td><strong><a href="https://www.seti.org/" target="_blank">SETI</a></strong></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Alternative theories to the formation of the universe: exploring Plasma Cosmology.</td>
                                <td><strong><a href="https://lppfusion.com/science/cosmic-connection/plasma-cosmology/" target="_blank">LPPFusion</a></strong></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>The Center for UFO Studies (CUFOS) is an international group of scientists, academics, investigators, and volunteers dedicated to the continuing examination and analysis of the UFO phenomenon.</td>
                                <td><strong><a href="http://www.cufos.org/" target="_blank">CUFOS</a></strong></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Dr. Michio Kaku, theoretical physicist, bestselling author, and renowned futurist co-founded the String Field Theory and carries on Einstein’s quest to unite the four fundamental forces of nature into a single grand unified theory of everything.</td>
                                <td><strong><a href="https://mkaku.org/home/about/" target="_blank">Dr.Kaku</a></strong></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>In the History Channel's "Ancient Aliens," ancient astronaut theorists challenge modern archaeology by hypothesizing extraterrestrials have been visiting earth for thousands of years, imparting wisdom on mankind.</td>
                                <td><strong><a href="https://www.history.com/shows/ancient-aliens" target="_blank">Ancient Aliens</a></strong></td>
                            </tr>
                    </table>
                </div>
                <hr />
            </section>
        </div>

        <!-- Copyright -->
        <div id="copyright">
            <ul><li>&copy; 2021 SolvCreative LLC</li></ul>
        </div>

    </div>

    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.scrollex.min.js"></script>
    <script src="~/js/jquery.scrolly.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>
