
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Armchair Astronauts</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">

        <!-- Intro -->
        <div id="intro">
            <img src="~/assets/aa_logo.png" width="80" height="160" alt="">
            <h1>
                Armchair<br />
                Astronauts
            </h1>
            <p>Curing curiosities of what's beyond the beyond</p>
            <a href="#down">
                <img src="~/assets/arrow_down.png" width="50" height="50" >
            </a>

        </div>

        <!-- Header -->
        <header id="header">
            <a href=/home/index class="logo">up</a>
        </header>

        <!-- Nav -->
        <nav id="nav">
            <ul class="links">
                <li class="active"><a href=/home/index>Home</a></li>
                <li><a href=/home/explore>Explore</a></li>
                <li><a href=/home/phenomena>Phenomena</a></li>
                <li><a href=/home/mission_control>Mission Control</a></li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">

            <!-- Featured Post -->
            <article class="post featured">
                <header class="major">
                    <span class="date">Armchair Astronauts</span>
                    <h2 id="down">What is beyond?</h2>
                    <p>
                        "Somewhere, something incredible is waiting to be known."<br />
                        - Carl Sagan
                    </p>
                </header>
                <a href="#" class="image main"><img src="~/assets/nasa-above_earth-on-unsplash.jpg" alt="nasa image above earth" /></a>
                <section class="post">
                    <header class="major">
                        <span class="date"><em>Photo credit: NASA</em></span>
                        <p>
                            Has a lifetime of curiosity and unanswered questions about our universe<br />
                            led you to relentlessly study the cosmos? <strong>Armchair Astronauts</strong> is an evolving compendium<br />
                            of information about our universe. Influenced by major contributors such as Carl <br />
                            Sagan, Sara Seager, Neil deGrasse Tyson, Katie Bouman, and countless other scientists, <br />
                            visionaries, theorists, and explorers, we'll continue to pursue facts and data that<br />
                            test our assumptions, challenge our ideas, and get closer to discovering what is beyond...
                        </p>
                        <ul class="actions special">
                            <li><a href=/home/explore class="button large">Explore</a></li>
                        </ul>
            </article>
        </div>

        <!-- Copyright -->
        <div id="copyright">
            <ul><li>&copy; 2021 SolvCreative LLC</li></ul>
        </div>

    </div>

    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.scrollex.min.js"></script>
    <script src="~/js/jquery.scrolly.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>