<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Test</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="wwwroot/css/main.css" />
    <noscript><link rel="stylesheet" href="wwwroot/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">.cshtml
            <a href="index.cshtml" class="logo">Home</a>
        </header>

        <!-- Nav -->
        <nav id="nav">
            <ul class="links">
                <li><a href="index.cshtml">Home</a></li>
                <li><a href="explore.cshtml">Explore</a></li>
                <li class="active"><a href="test.cshtml">Test</a></li>
                <li><a href="phenomena.cshtml">Phenomena</a></li>
                <li><a href="mission_control.cshtml">Mission Control</a></li>
            </ul>
            <ul class="icons">
                <li><a href="https://www.instagram.com/nasa/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://github.com/SolvCreative/Armchair_Astronaut" target="_blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">

            <!-- Post -->
            <article class="post featured">
                <header class="major">
                    <h2>
                        Let's test our<br />
                        assumptions
                    </h2>
                    <p>
                        "Astronomy taught us our insignificance in Nature."<br />
                        - Ralph Waldo Emerson
                    </p>
                </header>
                <ul class="actions special">
                    <li><a href="#" class="button large">Test Your Knowledge</a></li>
                    <li><a href="#" class="button large">Challenge Your Ideas</a></li>
                    <br />
                </ul>
                <br>
        </div>

        <!-- Copyright -->
        <div id="copyright">
            <ul><li>&copy; 2021 SolvCreative LLC</li></ul>
        </div>


        <!-- Scripts -->
        <script src="wwwroot/js/jquery.min.js"></script>
        <script src="wwwroot/js/jquery.scrollex.min.js"></script>
        <script src="wwwroot/js/jquery.scrolly.min.js"></script>
        <script src="wwwroot/js/browser.min.js"></script>
        <script src="wwwroot/js/breakpoints.min.js"></script>
        <script src="wwwroot/js/util.js"></script>
        <script src="wwwroot/js/main.js"></script>

</body>
</html>