@model NeoViewModel
@using (Html.BeginForm("SearchNeo", "Neo", FormMethod.Get))
{
    <p>Find by name: @Html.TextArea("search")
    <input type="submit" value="Search" />
    </p>
}


<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Explore</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <a href=/home/index class="logo">Home</a>
        </header>

        <!-- Nav -->
        <nav id="nav">
            <ul class="links">
                <li><a href="index.cshtml">Home</a></li>
                <li class="active"><a href="explore.cshtml">Explore</a></li>
                <li><a href="phenomena.cshtml">Phenomena</a></li>
                <li><a href="missioncontrol.cshtml">Mission Control</a></li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">

            <!-- Post -->
            <section class="post">
                <header class="major">
                    <h1>Near-Earth Objects<br />
                    (NEO)</h1>
                    <p>
                        .................Insert text here about the Near Earth Objects...............
                    </p>
                </header>
                <div class="image main">
                    <img src="~/assets/nasa_neo_image.jpg" alt="asteroid in space" />
                    <span class="date"><em>Photo credit: NASA</em></span>
                </div>
               

                </section>
        </div>

        <!-- Copyright -->
        <div id="copyright">
            <ul><li>&copy; 2021 SolvCreative LLC</li></ul>
        </div>

    </div>

    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.scrollex.min.js"></script>
    <script src="~/js/jquery.scrolly.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>
