@model IEnumerable<NeoViewModel>
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Space Facts</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">

        <!-- Intro -->
        <div id="intro">
            <h1>NEO = Near Earth Objects</h1>
            <p>
                Below is a short list of some of the many near earth objects observed from NASA's JPL.
            </p>
            <br /><br />
            <table class="table">
                <thead>
                    <tr style="background-color: #00ffff">
                        <th style="text-align: center">Official Name</th>
                        <th style="text-align: center">Short Name</th>
                        <th style="text-align: center">Diameter (km)</th>
                        <th style="text-align: center">First Observed</th>
                    </tr></thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr style="background-color: #8d8a8a">
                        <td>@item.full_name</td>
                        <td>@item.name</td>
                        <td>@item.diameter</td>
                        <td>@item.first_obs</td>
                    </tr>
                }
                </tbody>
            </table>
            <div>
                <p><em>Find more information about these and hundreds of thousands of other NEOs at the<br /> 
                    <a href="https://cneos.jpl.nasa.gov" target="_blank">Center for Near Earth Object Studies</a>. </em></p>
            </div>
            <!-- Copyright -->
            <div id="copyright">
                <ul><li>&copy; 2021 SolvCreative LLC</li></ul>
            </div>
        </div>

        <!-- Scripts -->
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/jquery.scrollex.min.js"></script>
        <script src="~/js/jquery.scrolly.min.js"></script>
        <script src="~/js/browser.min.js"></script>
        <script src="~/js/breakpoints.min.js"></script>
        <script src="~/js/util.js"></script>
        <script src="~/js/main.js"></script>

</body>
</html>
