@using AA.Models
@model IEnumerable<MarsData>

<div>
    <h2>Mars Data is shown here</h2>

</div>

@{ foreach (var item in Model)
    {

        <div>

            <h4>Info:  </h4>
            

        </div>

    }}